@model IEnumerable<blog.Models.test>
@{
  ViewBag.Title = "Test";
}
<h2>Test</h2>
<table class="table">
  <tr>
    <th>Text</th>
  </tr>
  @foreach (var item in @Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Text)
      </td>
    </tr>
  }
</table>